<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rhcloud.papers">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/papers"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/papers"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Principal"
            android:theme="@style/AppTheme.NoActionBar"
            android:title="@string/title_activity_principal">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.viewRecuperarSenha"
            android:label="@string/title_activity_recuperar_senha"
            android:parentActivityName=".Principal"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.rhcloud.papers.Principal" />
        </activity>
        <activity
            android:name=".view.viewCadastrarUsuario"
            android:label="@string/title_activity_view_cadastrar_usuario"
            android:parentActivityName=".Principal"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.rhcloud.papers.Principal" />
        </activity>
        <activity
            android:name=".view.viewDestino"
            android:label="@string/title_activity_view_destino"
            android:parentActivityName=".Principal"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.rhcloud.papers.Principal" />
        </activity>
    </application>

</manifest>